.auth-page {
    ion-content {
        --background: none;
        background-image: url("/todobg.webp");
        background-position: center;
        background-size: cover;
        .heading {
            h1 {
                &,* {
                    color: var(--ion-color-primary);
                    vertical-align: middle;
                }
                ion-icon {
                    display: inline-block;
                }
            }
            ion-note {
                font-style: italic;
            }
        }
    }
}