.space-page {
    ion-content {

        --background: var(--ion-color-light);

        ion-list.dotted-list {
            background: inherit;
            ion-item {
                border-bottom: 2px dotted var(--ion-color-medium);
                margin-bottom: 8px;
                border-radius: 16px;
                &:hover {
                    border-right: 2px dotted var(--ion-color-medium);
                }
                ion-label {
                    h2 {
                        font-weight: bold;
                        color: var(--ion-color-primary);
                    }
                }
            }
        }
    }
}