.line-through {
    text-decoration: line-through;
}
ion-modal ion-content::part(scroll) {
    overflow-y: var(--overflow);
    overscroll-behavior-y: contain;
}

.d-none {
    display: none !important;
}

.pb-100 {
    padding-bottom: 100px;
    --padding-bottom: 100px;
}

.pb-150 {
    padding-bottom: 150px;
    --padding-bottom: 150px;
}
